@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Model.DtoModels.ExpenseDtoModels.ExpenseDto

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-primary text-white text-left">
            <h6>Expense Edit</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" id="ExpenseIdHidden" asp-for="@Model.Id" />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Date"></label>
                                    <input asp-for="Date" class="form-control" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group text-right">
                            <input type="button" title="Add Item" value="Add Item" class="btn btn-outline-primary btn-width" data-toggle="modal" data-target="#editExpDetailModal" />
                        </div>

                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>
                                                SL
                                            </th>
                                            <th>
                                                Item Name
                                            </th>
                                            <th>
                                                Qty
                                            </th>
                                            <th>
                                                Unit Price
                                            </th>
                                            <th>
                                                Unit Discount
                                            </th>
                                            <th>
                                                Total Price
                                            </th>
                                            <th>
                                                Note
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="ExpenseDetailTable">
                                        @if (Model is { Details.Count: > 0 })
                                        {
                                            var sl = 0;
                                            foreach (var detail in Model.Details)
                                            {
                                                var index = sl;
                                                <tr id="trExpenseItem@(index)">
                                                    <td style='display: none'><input name='Details.Index' type='hidden' value='@index' /></td>
                                                    <td>
                                                        <input type='hidden' id='Details@(index)_ExpenseId' name='Details[@index].ExpenseId' value='@Model.Id' />
                                                        <input type='hidden' id='Details@(index)_Id' name='Details[@index].Id' value='@detail.Id' />
                                                        <input type='hidden' id='Details@(index)_ExpenseItemId' name='Details[@index].ExpenseItemId' value='@detail.ExpenseItemId' />
                                                        <input type='hidden' id='Details@(index)_Qty' name='Details[@index].Qty' value='@detail.Qty' />
                                                        <input type='hidden' id='Details@(index)_UnitPrice' name='Details[@index].UnitPrice' value='@detail.UnitPrice' />
                                                        <input type='hidden' id='Details@(index)_Price' name='Details[@index].Price' value='@detail.Price' />
                                                        <input type='hidden' id='Details@(index)_Discount' name='Details[@index].Discount' value='@detail.Discount' />
                                                        <input type='hidden' id='Details@(index)_Note' name='Details[@index].Note' value='@detail.Note' />
                                                        <label id='Details_@(index)_Serial' value='@(++sl)'>@(sl)</label>
                                                    </td>
                                                    <td>@detail.ExpenseItemName</td>
                                                    <td>@detail.Qty</td>
                                                    <td>@detail.UnitPrice</td>
                                                    <td>@detail.Discount</td>
                                                    <td>@detail.Price</td>
                                                    <td>@detail.Note</td>
                                                    <td>
                                                        @*<a href='#' id="btnEditItem_@(index)" data-id="@index" data-quantity="@detail.Qty" data-price="@detail.Price" onclick="editRowForDetails(this)"><i class='fa fa-pencil text-warning m-1' title='Edit' aria-hidden='true'></i></a>*@
                                                        <button type="button" id="btnEditItem_@(index)" data-id="@index" data-quantity="@detail.Qty" data-price="@detail.Price" class="btn btn-outline-warning btn-sm" title="Edit" onclick="editRowForExpItem(this)">Edit</button>
                                                        @*<a href='#' id="btnDeleteItem_@(index)" data-id="@index" data-quantity="@detail.Qty" data-price="@detail.Price" onclick="deleteRowForDetails(this)"><i class='fa fa-trash-o text-danger m-1' title='Delete' aria-hidden='true'></i></a>*@
                                                        <button type="button" id="btnDeleteItem_@(index)" data-id="@index" data-quantity="@detail.Qty" data-price="@detail.Price" class="btn btn-outline-danger btn-sm" title="Delete" onclick="removeRowForExpItem(this)">Delete</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group text-right">
                            <input type="submit" value="Update" class="btn btn-primary btn-width" />
                            <a asp-action="Search"><input type="button" value="List" class="btn btn-info btn-width" /></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AddExpDetailModal -->
<div class="modal fade" id="editExpDetailModal">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white text-left">
                <h6>Add Item Details</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Expense Item</label>
                                    @* <input id="expItemIdVal" type="number" min="1" class="form-control" /> *@
                                    <select id="expItemIdVal" class="form-control" asp-items="@(new SelectList(@ViewBag.ExpItemSelectionList, "Id","Name"))"></select>
                                    <span id="expItemIdValidation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Qty</label>
                                    <input id="expItemQtyVal" type="number" min="1" class="form-control" />
                                    <span id="expItemQtyValValidation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Unit Price</label>
                                    <input id="expItemUnitPriceVal" type="number" min="1" class="form-control" />
                                    <span id="expItemUnitPriceValValidation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Unit Discount</label>
                                    <input id="expItemUnitDiscountVal" type="number" min="0" class="form-control" />
                                    <span id="expItemUnitDiscountValValidation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Note</label>
                            <textarea id="expItemNoteVal" cols="2" class="form-control"></textarea>
                            <span id="expItemNoteValValidation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="expItemAddButton" type="button" class="btn btn-primary btn-width">Add</button>
                <button type="button" class="btn btn-danger btn-width" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/projectjs/expense/expenseedit.js"></script>
}
